* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.attribution {
  font-size: 14px;
  text-align: center;
  position: absolute;
  justify-self: center;
  align-self: self-end;
  margin-bottom: 32px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
